$blue : #120155;
$violet : #5856CE;

// @import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    h1,h2,h3{
        font-family: 'Paytone One', sans-serif !important;
    }
}

.text-blue{
    color: $blue !important;
}

.text-violet{
    color: $violet;
}

.bg-violet{
    background-color: $violet;
}

.fa-14{
    font-size: 14px;
}

.navbar{
    font-size: 14px;
   .navbar-nav{
       .nav-link{
        font-weight: 600;
        color: $blue;
        margin-left: 10px;
       }
   }
}

.btn-violet{
    padding: 6px 15px;
    font-size: 12px;
    background-color: $violet;
    color: white;
    transition: .40s;
    &:hover{
        color: white;
    }
}

.btn-outline-violet{
    padding: 6px 15px;
    font-size: 12px;
    background-color: white;
    color: $violet;
    border-color: $violet;
    transition: .40s;
    &:hover{
        color: $violet;
    }
}

#section_1{
    background: linear-gradient(180deg, rgba(235, 246, 255, 0) -12.61%, #EBF6FF 50.78%, rgba(235, 246, 255, 0) 114.7%);
    .card{
        height: 21rem;
    }
}

.card{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 60px 0 60px 0;
}

#section_2{
    .card{
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.12);
    }
    .col-md-3:nth-child(1){
        .card{
            border-top-right-radius: 130px;
            background-color: #99D0FF;
            p{
                color: #05034E;
            }
        }
    }
    .col-md-3:nth-child(2){
        .card{
            border-bottom-right-radius: 130px;
            border-bottom-left-radius: 130px;
            background-color: #B499FF;
            p{
                color: #05034E;
            }
        }
    }
    .col-md-3:nth-child(3){
        .card{
            border-top-right-radius: 130px;
            border-top-left-radius: 130px;
            background-color: #FFCA99;
            p{
                color: #05034E;
            }
        }
    }
    .col-md-3:nth-child(4){
        .card{
            border-bottom-left-radius: 130px;
            background-color: #99FFCE;
            p{
                color: #05034E;
            }
        }
    }
}

#section_4{
    background: linear-gradient(97.04deg, #110055 51.44%, #110055 95.29%);
    .container-fluid{
        padding-top: 6rem!important;
        padding-bottom: 6rem!important;
    }
}